@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: black;
}

html, body{
  background-color: rgb(255, 255, 255);
  height: 100%;
  font-family: Montserrat Alternates;
}
header{
  height: 100px;
  border-bottom: 1px solid rgb(228, 228, 228);
}
.body-wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.logo{
  width: 100px;
  height: 80px;
  object-fit: cover;
  cursor: pointer;
}

.head-main{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 15px;
}
.head-right{
  margin-left: 20px; 
}
.header-burger{
  height: 50px;
  width: 50px;
  border: none;
  background-color: transparent;
  position: relative;
  border-radius: 50px;
  z-index: 10;
  cursor: pointer;
}
.header-burger span{
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: black;
  left: 10px;
  transition: transform .5s, opacity .5s, background-color .5s;
}
.header-burger span:nth-child(1){
  transform: translateY(-8px);

}
.header-burger span:nth-child(3){
  transform: translateY(8px);
}
.photo{display: none;}

@media screen and (width <= 900px) {
  
  .menu{
    position: relative;
    width: 70%;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    top: -100px;
    right: -100%;
    transition: transform 1s ease-in-out, box-shadow .5s;

    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: 1px solid rgb(197, 197, 197);
  }

  .body-wrapper.open .menu{
    transform: translateX(-100%);
    box-shadow: 0 0 100px 20px rgba(0, 0, 0, 0.1);
  }

  .body-wrapper.open .header-burger span:nth-child(1){
    transform: translateY(0) rotate(-45deg);
  }
  .body-wrapper.open .header-burger span:nth-child(2){
    opacity: 0;
  }
  .body-wrapper.open .header-burger span:nth-child(3){
    transform: translateY(0) rotate(45deg);
  }
  .content-menu{
    height: 85%;
    margin: 23px 20px;
  }
  .block1{
    display: flex;
    flex-direction: column;
    height: 130px;
    justify-content: space-between;
    border-bottom: 1px solid rgb(185, 185, 185);
    border-top: 1px solid rgb(185, 185, 185);
    padding: 20px 0;
  }
  .user{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-left: 20px;
  }
  .photo-user{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid gray;
    position: relative;
  }
  .name-user{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 10px;
  }
  .photo{
    display: unset;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    object-fit: cover;
    box-shadow: 2px 3px 10px 2px rgba(0, 0, 0, 0.3);
  }





}